extends ./layout/layout

block content
  main.container.mt-5
    .row
      .col-md-5
        img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")
      .col-md-7
        h1 #{pagina}  
        blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pulvinar neque elementum dolor suscipit, in rutrum ligula egestas. Vivamus quam eros, finibus a egestas at, dictum rutrum quam. Aenean varius quis ipsum sit amet convallis. Duis lobortis cursus maximus. Sed euismod diam nec feugiat faucibus. Donec posuere risus neque. Nam feugiat tortor sit amet est aliquam ullamcorper. Suspendisse potenti. 

        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pulvinar neque elementum dolor suscipit, in rutrum ligula egestas. Vivamus quam eros, finibus a egestas at, dictum rutrum quam. Aenean varius quis ipsum sit amet convallis. Duis lobortis cursus maximus. Sed euismod diam nec feugiat faucibus. Donec posuere risus neque. Nam feugiat tortor sit amet est aliquam ullamcorper. Suspendisse potenti. 

        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pulvinar neque elementum dolor suscipit, in rutrum ligula egestas. Vivamus quam eros, finibus a egestas at, dictum rutrum quam. Aenean varius quis ipsum sit amet convallis. Duis lobortis cursus maximus. Sed euismod diam nec feugiat faucibus. Donec posuere risus neque. Nam feugiat tortor sit amet est aliquam ullamcorper. Suspendisse potenti. 
  .listado-iconos
    .container-mt-5.py-5.text-center
      .row 
        .col-md-4
          img(src="img/icono_seguridad.svg", alt="icono de seguridad", class="img-fluid mb-4")
          h2.mb-4 seguridad
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pulvinar neque elementum dolor suscipit, in rutrum ligula egestas.
        .col-md-4
          img(src="img/icono_destinos.svg", alt="icono de destinos", class="img-fluid mb-4")
          h2.mb-4 seguridad
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pulvinar neque elementum dolor
        .col-md-4
          img(src="img/icono_precio.svg", alt="icono de precio", class="img-fluid mb-4")
          h2.mb-4 seguridad
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pulvinar neque elementum dolor

